<!-- <div class="footer fixed-bottom">
  <div class="container" style="margin-top: 8px">
    <span class="text-muted navbar-text pull-left">Mounir BOULWAFA IIBDCC 2 | LibraryManagment App.</span>
  </div>
  <div class="container" style="margin-top: 8px">
    <span class="navbar-btn btn-danger btn pull-right">Mounir BOULWAFA IIBDCC 2 | LibraryManagment App.</span>
  </div>
</div> -->


<!-- <div class="footer navbar navbar-default fixed-bottom">
  <div class="container">
    <span class="navbar-text pull-left">© 2018 - LibraryManagment by Mounir BOULWAFA </span>

    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
  </div>


</div> -->

<footer class="footer fixed-bottom">
  <div class="container" style="margin-top: 8px">
    <span class="text-muted">Mounir BOULWAFA IIBDCC 2 | LibraryManagment App.</span>
  </div>
</footer>
