<h4 class="mb-3">Circulations</h4>
<hr>
<div class="mb-3">

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle class="mytab">La liste des emprunts </ng-template>
      <ng-template ngbTabContent>
        <div class="row mt-4 ml-3">

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle class="mytab">La liste des retours emprunt </ng-template>
      <ng-template ngbTabContent>
        <div class="mt-4 ml-3">

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle class="mytab">Ajouter un nouveau emprunt </ng-template>
      <ng-template ngbTabContent>
        <div class="mt-4 ml-3">

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>



<!-- <table class="table table-striped">
  <thead class="table-danger">
    <tr>
      <th scope="col" style="width: 5%">#</th>
      <th scope="col" style="width: 25%">Titre de livre</th>
      <th scope="col" style="width: 25%">Membre</th>
      <th scope="col" style="width: 20%">Date d'emprunt </th>
      <th scope="col" style="width: 20%">Date de retour</th>
      <th scope="col" style="width: 20%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
