<div class="fixed-top shadow-sm" style="background-color: brown;height: 63px;"></div>

<nav class="mytopbar navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="color: #fff;">
  <a class="navbar-brand light" routerLink="/" style="background-color: brown;width: 40px;
  text-align: center;">
    <i class="fas fa-book-open" style="
    font-size: larger"></i></a>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/">Dashboard </a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/Circulation">Circulations </a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/Livres">Livres</a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/Categories">Categories</a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/Collections">Collections</a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/Members">Members</a>
      </li>

      <!-- <div ngbDropdown class="d-inline-block">
        <li class="nav-item active mr-3">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
        </li>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </div> -->

    </ul>

  </div>
</nav>
